In [2]:
import pandas as pd 

df = pd.read_csv('static\download\data.csv')
df

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_sampah,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,2229.42,TON/HARI,2016
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,532.78,TON/HARI,2016
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,924.26,TON/HARI,2016
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,2989.75,TON/HARI,2016
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,614.65,TON/HARI,2016
...,...,...,...,...,...,...,...,...
184,185,32,JAWA BARAT,3275,KOTA BEKASI,1260.00,TON/HARI,2023
185,186,32,JAWA BARAT,3276,KOTA DEPOK,999.00,TON/HARI,2023
186,187,32,JAWA BARAT,3277,KOTA CIMAHI,168.12,TON/HARI,2023
187,188,32,JAWA BARAT,3278,KOTA TASIKMALAYA,205.00,TON/HARI,2023
188,189,32,JAWA BARAT,3279,KOTA BANJAR,69.37,TON/HARI,2023

In [30]:
tahun= 2023
total_sampah=0
for a,row in df.iterrows():
    if row['tahun'] == tahun:
        total_sampah += row['jumlah_sampah']
print(f'Total sampah pada tahun {tahun} adalah {total_sampah} ton')

Total sampah pada tahun 2023 adalah 11288.090000000002 ton

In [31]:
total_per_tahun = {}

for index, row in df.iterrows():
    tahun = row['tahun']
    jumlah = row['jumlah_sampah']

    if tahun not in total_per_tahun:
        total_per_tahun[tahun] = 0

    total_per_tahun[tahun] += jumlah

for tahun, total in total_per_tahun.items():
    print(f"Total sampah tahun {tahun}: {total}")

Total sampah tahun 2016: 35623.9
Total sampah tahun 2017: 38268.0
Total sampah tahun 2018: nan
Total sampah tahun 2020: 17654.14
Total sampah tahun 2021: 11189.310000000001
Total sampah tahun 2022: 10869.140000000001
Total sampah tahun 2023: 11288.090000000002

In [33]:
kotanya={}

for index, row in df.iterrows():
    kota=row['nama_kabupaten_kota']


    if kota not in kotanya:
        kotanya[kota]=0 
    kotanya[kota] += row['jumlah_sampah']

for a,b in kotanya.items():
    print(f"kotanya adalah {a} jumlah sampah {b}")
# print(f"kotanya adalah {kota} jumlah sampah {kotanya}")

kotanya adalah KABUPATEN BOGOR jumlah sampah 10667.41
kotanya adalah KABUPATEN SUKABUMI jumlah sampah 3040.9799999999996
kotanya adalah KABUPATEN CIANJUR jumlah sampah 4454.36
kotanya adalah KABUPATEN BANDUNG jumlah sampah 11027.769999999999
kotanya adalah KABUPATEN GARUT jumlah sampah 4959.349999999999
kotanya adalah KABUPATEN TASIKMALAYA jumlah sampah 2433.8599999999997
kotanya adalah KABUPATEN CIAMIS jumlah sampah 1501.8200000000002
kotanya adalah KABUPATEN KUNINGAN jumlah sampah 1868.6899999999998
kotanya adalah KABUPATEN CIREBON jumlah sampah 3445.4
kotanya adalah KABUPATEN MAJALENGKA jumlah sampah 1687.34
kotanya adalah KABUPATEN SUMEDANG jumlah sampah nan
kotanya adalah KABUPATEN INDRAMAYU jumlah sampah 4993.3
kotanya adalah KABUPATEN SUBANG jumlah sampah 3414.89
kotanya adalah KABUPATEN PURWAKARTA jumlah sampah 77214.59999999999
kotanya adalah KABUPATEN KARAWANG jumlah sampah 5174.8
kotanya adalah KABUPATEN BEKASI jumlah sampah 8031.9800000000005
kotanya adalah KABUPATEN BANDUNG BARAT jumlah sampah 3719.5200000000004
kotanya adalah KABUPATEN PANGANDARAN jumlah sampah 801.64
kotanya adalah KOTA BOGOR jumlah sampah 6644.419999999999
kotanya adalah KOTA SUKABUMI jumlah sampah 2482.9700000000003
kotanya adalah KOTA BANDUNG jumlah sampah 23546.570000000003
kotanya adalah KOTA CIREBON jumlah sampah 2185.99
kotanya adalah KOTA BEKASI jumlah sampah 16597.1
kotanya adalah KOTA DEPOK jumlah sampah 15578.130000000001
kotanya adalah KOTA CIMAHI jumlah sampah 3116.16
kotanya adalah KOTA TASIKMALAYA jumlah sampah 2024.2399999999998
kotanya adalah KOTA BANJAR jumlah sampah 878.69