In [17]:
import pandas as pd 

df = pd.read_csv('static/download/data.csv')
tahun2319= (df['tahun'] == 2023) | (df['tahun'] == 2018) 
jumlah_pertahun= df[tahun2319].groupby(df['nama_kabupaten_kota'])['jumlah_sampah'].sum()
median_pertahun=df[tahun2319].groupby(df['nama_kabupaten_kota'])['jumlah_sampah'].median()

tambah = pd.concat([jumlah_pertahun,median_pertahun],axis=1)
tambah.columns = ["jumlah tahunan","median tahunan"]

ini = tambah.reset_index()
ini

        nama_kabupaten_kota  jumlah tahunan  median tahunan
0         KABUPATEN BANDUNG         3033.40        1516.700
1   KABUPATEN BANDUNG BARAT          551.50         275.750
2          KABUPATEN BEKASI         2678.60        1339.300
3           KABUPATEN BOGOR         1731.60         865.800
4          KABUPATEN CIAMIS          319.80         159.900
5         KABUPATEN CIANJUR         1170.34         585.170
6         KABUPATEN CIREBON          587.50         293.750
7           KABUPATEN GARUT         2385.90        1192.950
8       KABUPATEN INDRAMAYU          971.10         485.550
9        KABUPATEN KARAWANG         1211.00         605.500
10       KABUPATEN KUNINGAN          268.00         134.000
11     KABUPATEN MAJALENGKA          210.14         105.070
12    KABUPATEN PANGANDARAN          164.86          82.430
13     KABUPATEN PURWAKARTA        75822.00       37911.000
14         KABUPATEN SUBANG          400.00         200.000
15       KABUPATEN SUKABUMI          649.04         324.520
16       KABUPATEN SUMEDANG          235.00         235.000
17    KABUPATEN TASIKMALAYA          140.20          70.100
18             KOTA BANDUNG         8424.80        4212.400
19              KOTA BANJAR          170.97          85.485
20              KOTA BEKASI         2980.90        1490.450
21               KOTA BOGOR          550.00         275.000
22              KOTA CIMAHI          168.12          84.060
23             KOTA CIREBON          176.00          88.000
24               KOTA DEPOK         3999.00        1999.500
25            KOTA SUKABUMI          607.62         303.810
26         KOTA TASIKMALAYA          205.00         102.500

In [3]:
import pandas as pd
df = pd.read_csv('static/download/data.csv')

df.shape[0]

189